
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.interface-2-Qyb {
  background-position: center;
  background-image: url('REPLACE_IMAGE:bbc6a2889bbfed28322394464020cf454009903d');
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 29.4039rem;
  width: 100%;
  position: relative;
  display: flex;

  .box61-hho {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.1rem 4.7rem 0rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;

    .greenvalley-dairy-photoroom-1-1iV {
      margin-right: 106.1rem;
      width: 7.3rem;
      height: 5.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-XB3 {
      width: 2.1875rem;
      height: 2.1875rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.713rem 0.413rem 0rem;
    }
    .ellipse-1-S37 {
      width: 3rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:352667a46f54bbfa2420b2405444674396a652a6');
      border-radius: 1.5rem;
      margin-bottom: 0.4rem;
      background-repeat: no-repeat;
      flex-shrink: 0;
      height: 3rem;
    }
  }
  .auto-group-xfjk-viy {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 14.2rem;

    .header2-UEh {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      width: 128rem;
      height: 12.3299rem;
      top: 0;
      background-color: #9ef16c;
      box-sizing: border-box;
      padding: 3.699rem 83.02rem 3.649rem 2.4rem;

      .headercard4-ZG9 {
        margin: 0.057rem 8.884rem 0.076rem 0rem;
        width: 7.9161rem;
        height: calc(100% - 0.1331rem);
        position: relative;
        flex-shrink: 0;

        .headercard41-UP7 {
          display: flex;
          flex-direction: column;
          width: 6.6rem;
          height: 4.8494rem;
          position: absolute;
          left: 1.3161rem;
          top: 0;
          align-items: flex-end;

          .total-milk-QGm {
            margin-bottom: 1.1494rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .l-i2Z {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1979rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            display: flex;
          }
        }
        .vector-q7B {
          left: 0;
          top: 2.325rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6151rem;
          height: 2.2488rem;
          position: absolute;
        }
      }
      .headercard5-AQM {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0.014rem 9.551rem 0.014rem 0rem;
        height: calc(100% - 0.028rem);
        display: flex;

        .vector-gtV {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.172rem 0.293rem 0rem;
          width: 2.4278rem;
          height: 1.9089rem;
        }
        .headercard51-oy7 {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .sold-yMo {
            font-size: 1.4rem;
            font-weight: 600;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2545rem;
            line-height: 1.2125;
            flex-shrink: 0;
            display: flex;
          }
          .l-Vqw {
            margin-left: 0.0389rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
      .headercard61-pdK {
        flex-shrink: 0;
        width: 7.69rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .left-Neq {
          margin: 0rem 0rem 1.088rem 0.17rem;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
        .auto-group-dugm-HWu {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .vector-Eh3 {
            margin-right: 1.8622rem;
            width: 2.4278rem;
            height: 1.9089rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .l-aku {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #f3f3f3;
            white-space: nowrap;
            align-items: baseline;
            margin-top: 0.1949rem;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;

            .l-aku-sub-0 {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .l-aku-sub-1 {
            }
          }
        }
      }
    }
    .box8-aH3 {
      box-sizing: border-box;
      padding: 1rem 49.8rem 1rem 2.4rem;
      left: 0;
      top: 9.8rem;
      column-gap: 9.3rem;
      background: linear-gradient(180deg, #255635 100%);
      width: 128rem;
      height: 4.4rem;
      position: absolute;
      display: flex;
      align-items: center;

      .workers-sG9 {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2125;
      }
      .cusomers-record-QWy {
        font-weight: 600;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.5rem;
      }
      .sales-record-iXf {
        line-height: 1.2125;
        text-decoration-line: underline;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .box81-SCm {
        box-sizing: border-box;
        padding-left: 0.0637rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .settingicon2-BAM {
          width: 2.272rem;
          height: 2.3998rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.064rem 0.001rem 0rem;
        }
        .system-configuartion-VRw {
          font-weight: 600;
          text-decoration-line: underline;
          color: #ffffff;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.2rem;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2125;
        }
      }
    }
  }
  .box42-aiH {
    width: 100%;
    height: 4.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-12-XNd {
      position: absolute;
      left: 0.4994rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #255635;
      border-radius: 1rem 1rem 0 0;
      width: 127.7006rem;
      height: 4.4rem;
    }
    .filter-RD7 {
      left: 48.8152rem;
      top: 1.2663rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9826rem;
      height: 2.0049rem;
      position: absolute;
    }
    .rectangle-13-MMf {
      position: absolute;
      left: 32.9542rem;
      top: 0.6331rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #fdfffb;
      border-radius: 0.5rem;
      width: 9.4958rem;
      height: 3.0602rem;
    }
    .name-4G5 {
      width: 3.9rem;
      line-height: 1.1725;
      font-family: Work Sans, 'Source Sans Pro';
      height: 1.7rem;
      left: 35.8043rem;
      font-weight: 600;
      letter-spacing: -0.028rem;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      white-space: nowrap;
      position: absolute;
      top: 1.3265rem;
      justify-content: center;
      color: #001824;
    }
    .customerrecord-jND {
      width: 15.9rem;
      height: 2.2rem;
      left: 0;
      font-size: 1.8rem;
      color: #fdfffc;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      top: 1.2rem;
      display: flex;
      justify-content: center;
      font-weight: 700;
      line-height: 1.1725;
      position: absolute;
      align-items: center;
      letter-spacing: -0.036rem;
    }
    .box43-Rkq {
      left: 16.9888rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 9.4958rem;
      height: 3.0602rem;
      background-color: #fdfffb;
      padding: 0.627rem 1.581rem 0.733rem 1.461rem;
      position: absolute;
      top: 0.6331rem;

      .group-15-Lcu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .vector-6c5 {
          margin: 0rem 1.893rem 0.006rem 0rem;
          width: 1.4609rem;
          height: 1.4773rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .date-d6D {
          justify-content: center;
          font-weight: 600;
          letter-spacing: -0.028rem;
          color: #001824;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.1725;
        }
      }
    }
  }
  .box7-JCM {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    margin-left: 0.1rem;
    width: 128.1rem;
    height: 28.4961rem;
    position: relative;

    .boxoutline-qi5 {
      height: 28.4961rem;
      position: absolute;
      left: 0.2rem;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.1400000006);
      border-radius: 1rem;
      width: 127.9rem;
    }
    .box73-MAd {
      left: 0;
      top: 8.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.4799999893);
      padding: 0.531rem 5.094rem 0.535rem 8.617rem;
      width: 127.694rem;
      position: absolute;
      box-sizing: border-box;
      height: 3.1662rem;

      .box74-efX {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .alan-walker-zzH {
          line-height: 1.1725;
          text-transform: capitalize;
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 400;
          letter-spacing: -0.028rem;
          color: #000000;
          white-space: nowrap;
          margin: 0.024rem 7.574rem 0rem 0rem;
          justify-content: center;
          font-size: 1.4rem;
        }
        .item-0300-263288-6XX {
          flex-shrink: 0;
          align-items: baseline;
          line-height: 1.15;
          text-transform: lowercase;
          color: #000000;
          font-family: Ubuntu, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 4.309rem 0.4rem 0rem;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: -0.028rem;

          .item-0300-263288-6XX-sub-0 {
          }
          .item-0300-263288-6XX-sub-1 {
            font-weight: 400;
            line-height: 1.15;
            letter-spacing: -0.028rem;
            text-transform: lowercase;
            color: #000000;
            font-family: Ubuntu, 'Source Sans Pro';
            font-size: 1.4rem;
          }
        }
        .street-no-6house19f8-4-yzd {
          text-transform: capitalize;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          color: #000000;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.038rem 3.683rem 0rem 0rem;
          font-weight: 400;
          line-height: 1.1725;
          letter-spacing: -0.028rem;
        }
        .islamabad-Gyj {
          margin: 0rem 5.059rem 0.2rem 0rem;
          display: flex;
          justify-content: center;
          line-height: 1.1725;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: -0.028rem;
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-37205-5666735-1-nSH {
          display: flex;
          justify-content: center;
          font-weight: 400;
          letter-spacing: -0.028rem;
          text-transform: capitalize;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 6.563rem 0rem 0rem;
          align-items: center;
          font-size: 1.4rem;
          line-height: 1.1725;
          color: #000000;
          font-family: Work Sans, 'Source Sans Pro';
        }
        .rs7500-V5o {
          font-size: 1.4rem;
          letter-spacing: -0.028rem;
          text-transform: capitalize;
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.4rem 12.05rem 0rem 0rem;
          display: flex;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          font-weight: 400;
          line-height: 1.1725;
        }
        .l-ymf {
          font-size: 1.4rem;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.1725;
          letter-spacing: -0.028rem;
          text-transform: capitalize;
          color: #000000;
          margin: 0rem 13.645rem 0.2rem 0rem;
          flex-shrink: 0;
        }
        .edit4-gvy {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0376rem;
          width: 1.4rem;
          height: 1.2rem;
        }
      }
    }
    .box71-mxR {
      left: 0.0204rem;
      top: 1.0957rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 127.694rem;
      height: 7.2059rem;
      position: absolute;

      .auto-group-wu3k-t1T {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #255635;
        flex-shrink: 0;
        margin: 0rem 0.014rem 0.655rem 0rem;
        box-sizing: border-box;
        padding: 0.863rem 15.815rem 0.808rem 9.532rem;
        width: 127.5rem;
        height: 3.3846rem;

        .box5-mL9 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .name-K6m {
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.525rem 0.013rem 0rem;
            display: flex;
            align-items: center;
            font-weight: 500;
            text-transform: capitalize;
            color: #ffffff;
          }
          .product-pZK {
            align-items: center;
            justify-content: center;
            font-weight: 500;
            line-height: 1.1725;
            text-transform: capitalize;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.013rem 10.761rem 0rem 0rem;
            display: flex;
            font-size: 1.4rem;
            letter-spacing: -0.028rem;
            color: #ffffff;
          }
          .date-jAV {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
            margin: 0rem 13.262rem 0.013rem 0rem;
            font-weight: 500;
            text-transform: capitalize;
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .city-3BB {
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            text-transform: capitalize;
            color: #ffffff;
            margin: 0rem 10.424rem 0.013rem 0rem;
            font-size: 1.4rem;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
          }
          .cnic-krH {
            align-items: center;
            justify-content: center;
            font-weight: 500;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
            text-transform: capitalize;
            color: #ffffff;
            margin: 0rem 10.031rem 0.013rem 0rem;
            white-space: nowrap;
            font-size: 1.4rem;
            font-family: Work Sans, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
          }
          .monthly-bill-fyF {
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
            margin: 0rem 9.15rem 0.013rem 0rem;
            display: flex;
            font-size: 1.4rem;
            text-transform: capitalize;
            flex-shrink: 0;
          }
          .milk-deliverd-aKX {
            letter-spacing: -0.028rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0132rem;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.1725;
            text-transform: capitalize;
            font-family: Work Sans, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-weight: 500;
          }
        }
      }
      .auto-group-faff-rnq {
        width: 100%;
        height: 3.1662rem;
        position: relative;
        flex-shrink: 0;

        .edit3-Crh {
          vertical-align: top;
          width: 1.4rem;
          height: 1.2rem;
          position: absolute;
          left: 121.0796rem;
          top: 0.7646rem;
          object-fit: cover;
        }
        .box72-LT7 {
          height: 3.1662rem;
          position: absolute;
          left: 0;
          top: 0;
          box-sizing: border-box;
          padding: 0.596rem 7.897rem 0.47rem 7.897rem;
          width: 127.694rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(255, 255, 255, 0.4799999893);

          .group-19-eyb {
            width: 99.6381rem;
            height: 100%;
            display: flex;
            align-items: center;

            .victor-muasya-PwB {
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              letter-spacing: -0.028rem;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.024rem 6.524rem 0rem 0rem;
              font-size: 1.4rem;
              line-height: 1.1725;
              text-transform: capitalize;
              color: #000000;
            }
            .item-0300-1234567-76V {
              align-items: baseline;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.15;
              letter-spacing: -0.028rem;
              font-family: Ubuntu, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 3.959rem 0.4rem 0rem;
              flex-shrink: 0;
              font-weight: 400;
              text-transform: lowercase;
              color: #000000;
              display: flex;

              .item-0300-1234567-76V-sub-0 {
              }
              .item-0300-1234567-76V-sub-1 {
                text-transform: lowercase;
                color: #000000;
                font-family: Ubuntu, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.15;
                letter-spacing: -0.028rem;
              }
            }
            .street-no-5house14f8-3-RmP {
              text-transform: capitalize;
              margin: 0.038rem 3.683rem 0rem 0rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.1725;
              letter-spacing: -0.028rem;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              font-family: Work Sans, 'Source Sans Pro';
            }
            .islamabad-tey {
              text-transform: capitalize;
              font-family: Work Sans, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              letter-spacing: -0.028rem;
              color: #000000;
              white-space: nowrap;
              margin: 0rem 5.109rem 0.2rem 0rem;
              display: flex;
              font-weight: 400;
              line-height: 1.1725;
            }
            .item-37205-3245765-1-Prd {
              font-size: 1.4rem;
              font-weight: 400;
              letter-spacing: -0.028rem;
              font-family: Work Sans, 'Source Sans Pro';
              margin: 0.4rem 6.613rem 0rem 0rem;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1.1725;
              text-transform: capitalize;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .rs7500-5UZ {
              font-weight: 400;
              color: #000000;
              align-items: center;
              font-size: 1.4rem;
              justify-content: center;
              line-height: 1.1725;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.4rem 12.05rem 0rem 0rem;
              display: flex;
              flex-shrink: 0;
            }
            .l-PEM {
              line-height: 1.1725;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              color: #000000;
              margin-bottom: 0.2rem;
              align-items: center;
              font-weight: 400;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
