
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.interface-3-usT {
  background-position: center;
  background-image: url('REPLACE_IMAGE:bbc6a2889bbfed28322394464020cf454009903d');
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-ztoo-YQd {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 19.9rem;

    .header3-v3o {
      box-sizing: border-box;
      position: absolute;
      top: 5.7rem;
      display: flex;
      background-color: #9ef16c;
      padding: 3.699rem 80.83rem 3.649rem 2.4rem;
      width: 128rem;
      height: 12.3299rem;
      left: 0;
      align-items: center;

      .headercard7-xmB {
        margin: 0.057rem 8.884rem 0.076rem 0rem;
        width: 7.9161rem;
        height: calc(100% - 0.1331rem);
        position: relative;
        flex-shrink: 0;

        .headercard71-sdF {
          width: 6.6rem;
          height: 4.8494rem;
          position: absolute;
          left: 1.3161rem;
          top: 0;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .total-milk-Btq {
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1494rem;
            display: flex;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #000000;
          }
          .l-nn9 {
            margin-right: 0.1979rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .vector-73j {
          height: 2.2488rem;
          position: absolute;
          left: 0;
          top: 2.325rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6151rem;
        }
      }
      .headercard8-kMb {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0.014rem 9.551rem 0.014rem 0rem;
        height: calc(100% - 0.028rem);

        .vector-Gqj {
          margin: 0rem 1.172rem 0.293rem 0rem;
          width: 2.4278rem;
          height: 1.9089rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .headercard81-BC1 {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          flex-direction: column;

          .sold-Y2Z {
            font-weight: 600;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            white-space: nowrap;
            margin-bottom: 1.2545rem;
            display: flex;
            font-size: 1.4rem;
            line-height: 1.2125;
          }
          .l-3zu {
            margin-left: 0.0389rem;
            display: flex;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .headercard91-Ywf {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 9.88rem;
        height: 100%;
        align-items: flex-end;

        .total-profit-6yB {
          margin-bottom: 1.0876rem;
          display: flex;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 600;
          color: #000000;
          flex-shrink: 0;
        }
        .auto-group-actd-dCR {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 0.09rem;
          width: calc(100% - 0.09rem);

          .vector-knq {
            width: 2.4278rem;
            height: 1.9089rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8622rem;
          }
          .item-3000-W1K {
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1949rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    .box13-Ceq {
      left: 0;
      column-gap: 9.3rem;
      align-items: center;
      top: 15.5rem;
      display: flex;
      background: linear-gradient(180deg, #255635 100%);
      box-sizing: border-box;
      padding: 1rem 49.8rem 1rem 2.4rem;
      width: 128rem;
      height: 4.4rem;
      position: absolute;

      .workers-gK7 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .cusomers-record-CHT {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration-line: underline;
        color: #ffffff;
        flex-shrink: 0;
      }
      .sales-record-uxZ {
        display: flex;
        font-size: 1.5rem;
        text-decoration-line: underline;
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .box131-efF {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 0.0638rem;
        height: 100%;
        display: flex;

        .settingoutlined-CRs {
          width: 2.272rem;
          height: 2.3998rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.064rem 0.001rem 0rem;
        }
        .system-configuartion-WxM {
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          display: flex;
          font-size: 1.5rem;
        }
      }
    }
    .box111-18R {
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      width: 128rem;
      padding: 0.1rem 4.7rem 0rem 0rem;
      height: 5.7rem;
      position: absolute;
      box-sizing: border-box;

      .greenvalley-dairy-photoroom-1-5ty {
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 106.1rem;
        width: 7.3rem;
      }
      .vector-11w {
        margin: 0rem 4.713rem 0.413rem 0rem;
        width: 2.1875rem;
        height: 2.1875rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-1-v8u {
        margin-bottom: 0.4rem;
        background-color: #d9d9d9;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:352667a46f54bbfa2420b2405444674396a652a6');
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
    }
    .box9-bkq {
      width: 18.7rem;
      height: 14.5rem;
      position: absolute;
      left: 103.1rem;
      top: 4rem;

      .rectangle-10-8Vs {
        width: 18.7rem;
        height: 12.6rem;
        position: absolute;
        left: 0;
        top: 1.9rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.8399999738);
        border-radius: 1rem;
      }
      .profile-25T {
        justify-content: center;
        line-height: 1.1725;
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        left: 4.6458rem;
        align-items: center;
        font-weight: 400;
        width: 6rem;
        top: 4.0381rem;
        display: flex;
        font-size: 2rem;
        letter-spacing: -0.04rem;
        height: 2.4rem;
        position: absolute;
      }
      .logout-tdT {
        white-space: nowrap;
        align-items: center;
        font-size: 2rem;
        line-height: 1.1725;
        letter-spacing: -0.04rem;
        color: #000000;
        width: 6.5rem;
        left: 5.0406rem;
        top: 9.0216rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-family: Work Sans, 'Source Sans Pro';
        height: 2.4rem;
        position: absolute;
      }
      .ellipse-1-NYd {
        position: absolute;
        left: 1.1054rem;
        top: 3.7806rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7635rem;
        height: 2.8209rem;
      }
      .vector-W93 {
        height: 1.6925rem;
        position: absolute;
        left: 2.0266rem;
        top: 9.3284rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8424rem;
      }
      .arrow-1-38y {
        vertical-align: top;
        width: 4.9rem;
        height: 5.3rem;
        position: absolute;
        left: 12.87rem;
        top: 0;
        object-fit: contain;
      }
    }
  }
  .auto-group-rhss-mqf {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 0rem 29.404rem 0.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .box103-hzD {
      margin: 0rem 0.2rem 0rem 0.197rem;
      box-sizing: border-box;
      width: calc(100% - 0.397rem);
      height: 4.4rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem 1rem 0 0;
      padding: 0.633rem 77.161rem 0.707rem 1.496rem;
      display: flex;
      background-color: #255635;
      flex-shrink: 0;

      .sale-records-Pc9 {
        font-family: Work Sans, 'Source Sans Pro';
        margin: 0.374rem 3.742rem 0rem 0rem;
        display: flex;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: -0.036rem;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        line-height: 1.1725;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-xqrx-5zm {
        border-radius: 0.5rem;
        margin-right: 6.4494rem;
        width: 9.4662rem;
        height: 100%;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #fdfffb;
        box-sizing: border-box;
        padding: 0.627rem 1.571rem 0.733rem 1.456rem;
        flex-shrink: 0;

        .box104-QXF {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .vector-AmK {
            flex-shrink: 0;
            margin: 0rem 1.883rem 0.006rem 0rem;
            width: 1.4563rem;
            height: 1.4773rem;
            object-fit: contain;
            vertical-align: top;
          }
          .date-tBX {
            font-size: 1.4rem;
            letter-spacing: -0.028rem;
            color: #255635;
            font-family: Work Sans, 'Source Sans Pro';
            display: flex;
            align-items: center;
            line-height: 1.1725;
            white-space: nowrap;
            flex-shrink: 0;
            justify-content: center;
            font-weight: 600;
          }
        }
      }
      .box101-A93 {
        align-items: center;
        line-height: 1.1725;
        letter-spacing: -0.028rem;
        font-size: 1.4rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #fdfffb;
        height: 100%;
        display: flex;
        justify-content: center;
        font-weight: 600;
        flex-shrink: 0;
        margin-right: 6.3454rem;
        width: 9.4662rem;
        color: #255635;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.5rem;
      }
      .filter-ayT {
        width: 1.9765rem;
        height: 2.0049rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.211rem;
      }
    }
    .box12-TnM {
      padding: 1.096rem 0.386rem 16.496rem 0.2rem;
      width: 127.9rem;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      background-color: rgba(255, 255, 255, 0.1400000006);

      .box121-PR7 {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0.4984rem;
        width: 100%;
        align-items: flex-end;
        display: flex;

        .auto-group-riyb-YJ1 {
          background-color: #255635;
          flex-shrink: 0;
          margin: 0rem 0.014rem 0.655rem 0rem;
          box-sizing: border-box;
          padding: 0.941rem 9.354rem 0.73rem 9.354rem;
          width: 127.1209rem;
          height: 3.3846rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .box123-ERj {
            width: 67.5299rem;
            height: 100%;
            display: flex;
            align-items: center;

            .month-nCM {
              color: #ffffff;
              white-space: nowrap;
              margin: 0rem 14.066rem 0.013rem 0rem;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.1725;
              text-transform: capitalize;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              font-weight: 500;
              letter-spacing: -0.028rem;
              font-family: Work Sans, 'Source Sans Pro';
            }
            .product-Uay {
              font-weight: 500;
              line-height: 1.1725;
              text-transform: capitalize;
              color: #ffffff;
              font-family: Work Sans, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;
              font-size: 1.4rem;
              justify-content: center;
              letter-spacing: -0.028rem;
              white-space: nowrap;
              margin: 0.013rem 15.958rem 0rem 0rem;
              display: flex;
            }
            .date-xW9 {
              display: flex;
              justify-content: center;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              color: #ffffff;
              margin: 0rem 19.106rem 0.013rem 0rem;
              align-items: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.1725;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              flex-shrink: 0;
            }
            .profit-FEM {
              color: #ffffff;
              display: flex;
              justify-content: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.1725;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0129rem;
              align-items: center;
              flex-shrink: 0;
            }
          }
        }
        .box122-6Ey {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(255, 255, 255, 0.4799999893);
          box-sizing: border-box;
          padding: 0.796rem 39.914rem 0.47rem 9.909rem;
          width: 100%;
          align-items: center;
          height: 3.1662rem;
          display: flex;
          flex-shrink: 0;

          .group-19-Pjs {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-right: 8.9898rem;

            .january-vUu {
              justify-content: center;
              font-weight: 400;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              flex-shrink: 0;
              white-space: nowrap;
              margin: 0.012rem 14.469rem 0rem 0rem;
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              line-height: 1.1725;
              color: #000000;
              font-family: Work Sans, 'Source Sans Pro';
            }
            .l-RgZ {
              line-height: 1.15;
              text-transform: lowercase;
              color: #000000;
              font-family: Ubuntu, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              justify-content: center;
              font-weight: 400;
              align-items: center;
              font-size: 1.4rem;
              letter-spacing: -0.028rem;
              margin-right: 19.2428rem;
              display: flex;
            }
            .item-300-jx9 {
              line-height: 1.1725;
              font-family: Work Sans, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.019rem 18.689rem 0rem 0rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              letter-spacing: -0.028rem;
              text-transform: capitalize;
              color: #000000;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
            }
            .item-900-Etu {
              flex-shrink: 0;
              justify-content: center;
              letter-spacing: -0.028rem;
              white-space: nowrap;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1725;
              text-transform: capitalize;
              color: #000000;
              margin-top: 0.2rem;
              display: flex;
              align-items: center;
              font-family: Work Sans, 'Source Sans Pro';
            }
          }
          .output-onlinepngtools-2-kMT {
            height: 1.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.5624rem;
            width: 1.4rem;
          }
        }
      }
      .box124-9eV {
        margin-right: 0.0144rem;
        box-sizing: border-box;
        height: 3.2rem;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.4799999893);
        padding: 0.731rem 39.9rem 0.569rem 9.267rem;
        width: calc(100% - 0.0144rem);
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .group-19-4Ff {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 8.7948rem;

          .february-QqK {
            margin: 0.012rem 14.124rem 0rem 0rem;
            display: flex;
            letter-spacing: -0.028rem;
            font-family: Work Sans, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1725;
            text-transform: capitalize;
            color: #000000;
            white-space: nowrap;
          }
          .l-7jj {
            display: flex;
            align-items: center;
            font-weight: 400;
            letter-spacing: -0.028rem;
            font-family: Ubuntu, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 19.4593rem;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.15;
            text-transform: lowercase;
            color: #000000;
            flex-shrink: 0;
          }
          .item-350-qfj {
            margin: 0.019rem 18.655rem 0rem 0rem;
            justify-content: center;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            letter-spacing: -0.028rem;
            text-transform: capitalize;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-1059-MPB {
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.1725;
            letter-spacing: -0.028rem;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.2rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            text-transform: capitalize;
            white-space: nowrap;
          }
        }
        .output-onlinepngtools-2-GW9 {
          height: 1.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1624rem;
          width: 1.4rem;
        }
      }
    }
  }
}
